.updateBackground {
  display: block;
  background-color: rgb(247, 247, 247);
  position: absolute;
  top: 70px;
  height: 100vh;
  /* bottom: 0px; */
  width: 100%;
}

.updateForm {
  margin-top: 70px;
  text-align: center;
}

.updateForm input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  text-align: start;
  border: solid 1px #8c8c8c;
  border-radius: 2px;
  height: 48px;
  padding: 10px 10px 0;
  width: 20%;
}

.updateForm button {
  left: 30px;
  width: 110px;
  position: relative;
  display: block;
  margin: 20px 10px 10px 0;
  bottom: 27px;
  padding: 17px 2em;
  line-height: 1em;
  box-sizing: border-box;
  background-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1px;
  border-radius: 2px;
  border: 0;
}

.updateForm h1 {
  font-size: 40px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.updateForm h3 {
  margin-bottom: 15px;
}

.emailInput {
  margin-bottom: 40px;
}

#saveBtn {
  margin-top: 90px;
  margin-left: 790px;
  color: white;
  font-weight: 500;
  background-color: #0f84fa;
}

#cancelBtn {
  margin-left: 910px;
  bottom: 96.6px;
  background-color: #c7c7c7;
  font-weight: 500;
}

hr {
  height: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
