.row {
  line-height: 1.25vw;
  font-size: 1.1vw;
  margin-top: 20px;
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.863);
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 50px 0;
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster {
  border-radius: 5px;
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 5px;
  transition: transform 500ms;
}

.poster:hover {
  transform: scale(1.2);
}

.largePoster {
  max-height: 450px;
}

.largePoster:hover {
  transform: scale(1.25);
}
